:root {
	--blue: #69d5f0;
	--primary: #69d5f0;
	--yellow: #defc37;
	--warning: #defc37;
}
.bg-primary {
	background-color: #69d5f0 !important;
}
.bg-warning {
	background-color: #defc37 !important;
}
.btn-primary {
	background-color: #69d5f0 !important;
	border-color: #69d5f0 !important;
}
.btn-warning {
	border-color: #defc37 !important;
	background-color: #defc37 !important;
}
.btn-outline-warning {
	border-color: #defc37 !important;
	color: var(--dark);
}
.btn-outline-warning:hover {
	border-color: #defc37 !important;
	background-color: #defc37 !important;
}
body {
	padding-bottom: 75px;
	font-family: 'Montserrat', sans-serif;
}
.icon {
	height: 45px;
	padding: 15px 0 5px 0;
}
.icon-reverse {
	transform: rotate(180deg);
}
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.card {
	margin-bottom: 20px;
}
.remove-wrapper {
	display: flex;
	margin: auto;
}
.remove {
	box-sizing: content-box;
	fill: var(--pink);
	width: 15px;
	height: 25px;
	padding: 5px;
	display: flex;
	margin: auto;
	cursor: pointer;
	transition: fill 300ms ease-in-out;
}
.remove:hover {
	fill: var(--red);
}
.table th,
.table td {
	vertical-align: middle !important;
}
.suggestions__dropdown {
	background: var(--white);
	position: absolute;
	top: 100;
	left: 0;
	z-index: 99;
	cursor: pointer;
}
.heading {
	color: var(--dark);
}
.heading:hover {
	text-decoration: none;
	color: var(--dark);
}
